{
	"printWidth": 100,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"semi": false,
	"proseWrap": "preserve",
	"arrowParens": "avoid",
	"htmlWhitespaceSensitivity": "css",
	"quoteProps": "as-needed",
	"svelteSortOrder": "options-scripts-markup-styles"
}
